/* body styles and background */
body {
font-family: Arial, Verdana, sans-serif;
background-image:    url(../images/penrose.jpg);
background-size:     cover;                      /* <------ */
background-repeat:   no-repeat;}
/* headings */
h1, h2 {
color: #f3f3f3;}
/* paragraph */
p {
color: #292929;}
/* unvisited link */
a:link {
  color: yellow;
}

/* visited link */
a:visited {
  color: #ff787a;
}

/* mouse over link */
a:hover {
  color: hotpink;
}
